<!-- <ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Facebook</ion-title>
      </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="isLoggedIn; else facebookLogin">
    <h2>Olá, {{users.name}} ({{users.email}})</h2>
    <p>
      <img src="{{users.picture.data.url}}" width="100" alt="{{users.name}}" />
    </p>
    <p>
      <button ion-button icon-right (click)="logout()">
        Logout
      </button>
    </p>
  </div>
  <ng-template #facebookLogin>
    <button ion-button icon-right (click)="login()">
      Logar com
      <ion-icon name="logo-facebook"></ion-icon>
    </button>
  </ng-template>
</ion-content> -->

<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Facebook</ion-title>
      </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <div *ngIf="isLoggedIn; else facebookLogin">
        <img src={{photoURL}}>
        <h1>Olá {{displayName}}</h1>  
        <button ion-button (click)="signOut()">Logout</button>
    </div>
    <ng-template #facebookLogin>
        <button ion-button icon-right (click)="signInWithFacebook()">
            Login 
            <ion-icon name="logo-facebook"></ion-icon>
        </button> 
    </ng-template>
  </ion-content>